<mjml>
  <mj-body background-color='#ccd3e0' font-size='13px'>
    <mj-section
      background-color='#fff'
      padding-bottom='20px'
      padding-top='20px'
    >
      <mj-column width='100%'>
        <mj-text>
          <p>{{subject}}</p>
          <p>{{description}}</p>
          <p><a href='{{link}}'>{{confirm}}</a></p>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>